    {% comment %} {% assign slider_num = 1 %} {% endcomment %}

    {% assign slider_count = 3 %}
    {% assign slider_title = 'slider' | append: slider_num | append: '_title' %}
    <h2 class="text-2xl font-black text-center mb-2">{{ product.metafields.custom[slider_title]}}</h2>
    <div class="swiper swiper1">
      <div class="swiper-wrapper">
        {% for i in (1..slider_count) %}
        {% assign image_key = 'slider' | append: slider_num | append: '_image' | append: i %}
        {% assign image_value = product.metafields.custom[image_key] %}
        {% if image_value != blank %}
        <div class="swiper-slide">
          <img class="w-full"
            src="{{ image_value | img_url: 'large' }}"
            alt="">
        </div>
        {% endif %}
        {% endfor %}
        {% comment %} <div class="swiper-slide">
          <img class="w-full"
            src="https://m.media-amazon.com/images/S/aplus-media/sc/b899e035-829e-4282-bf67-f56044a632d3.__CR0,0,970,600_PT0_SX970_V1___.jpg"
            alt="">
        </div>{% endcomment %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>