<div class="max-w-full mx-auto relative top-0 left-0 w-full">

  <div class="hero-banner  py-4  ">
    <img class="w-full"
      src="https://plustek.com/content/products/film-photo-scanners/opticfilm-120/images/opticfilm-120-PC.webp"
      alt="">
  </div>
</div>