{% comment %} {{ product.metafields.custom.feature }} {% endcomment %}
{% comment %} <img src="{{ product.metafields.custom.image | image_url: width: 1280 }}" alt=""> {% endcomment %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="container mx-auto ">

  <section class="flex my-8">
    <div class="basis-5/12 px-2 product--media">
      {% render 'product-media' %}
    </div>
    <div class="basis-7/12 px-2 product--infomation">
      <h1 class="text-2xl font-black">
        Plustek OpticFilm 120 pro - scan 35mm Film Strips, Slide and 120/220 Film Scanner. Scan from 6x4.5 up to 6x12cm
        in Size. Support Mac and Windows
      </h1>
      <p class="mt-4">
        Multiple film format supports - 35mm slides and film strips, including Xpan size, and 120 medium formats from
        6x4.5 to 6x12. The maximum length is 120 mm.
        Scan at 5300 dpi optical resolution - OpticFilm 120 Pro uses an 8-element glass lens with 5,300 dpi and
        high-sensitive color CCD, 48bit color bit depth, and provide up to 273 megapixels @6x12 film.
        Flagship Scanner Software Included - Plustek OpticFilm 120 Pro bundles the top-professional level software
        version: SilverFast Ai Studio (MSRP 658 USD), and include a 6x7 size IT8 Target& Calibration sheet to ensures
        the accurate color results.
        OS Support - Windows 7 X64, Windows 8 X64, Windows 8.1 X64, and Windows 10 X64 & Mac OS X 10.11.x ~ 10.15.x. Our
        technical support experts are located in California, USA.
        Made in Taiwan - OpticFilm 120 Pro is made in Taiwan and wins the Taiwan Excellence Awards in 2020. Each scanner
        is well-adjusted and proven its high quality by Plustek’s engineering experts.
      </p>
      <button class="my-2 mt-4 bg-red-500 px-12 py-2 text-white rounded-3xl text-xl">Add to Cart</button>
    </div>
  </section>

  <section class="mt-12 mb-2">
    <h2 class="text-2xl font-black text-center mb-2">OpticFilm 120 Pro - Professional Medium Format and 35mm
      Photographic
      Film Scanner</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="w-full"
            src="https://m.media-amazon.com/images/S/aplus-media/sc/b899e035-829e-4282-bf67-f56044a632d3.__CR0,0,970,600_PT0_SX970_V1___.jpg"
            alt="">
        </div>
        <div class="swiper-slide">
          <img class="w-full"
            src="https://m.media-amazon.com/images/S/aplus-media/sc/b899e035-829e-4282-bf67-f56044a632d3.__CR0,0,970,600_PT0_SX970_V1___.jpg"
            alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
  <section class="mt-12 mb-2">
    <h2 class="text-2xl font-black text-center mb-2">Create Incredible Scans with the Plustek Multiple Format Film
      Scanner</h2>
    <iframe width="560" height="315" class="vidoe w-full "
      src="https://www.youtube.com/embed/ZoKdG9GaEFY?si=ByXnJl37AEHJDAJg" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
  <section class="mt-12 mb-2">
    <h2 class="text-2xl font-black text-center mb-2">OpticFilm 120 Pro - Professional Medium Format and 35mm
      Photographic
      Film Scanner</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="w-full"
            src="https://m.media-amazon.com/images/S/aplus-media/sc/b899e035-829e-4282-bf67-f56044a632d3.__CR0,0,970,600_PT0_SX970_V1___.jpg"
            alt="">
        </div>
        <div class="swiper-slide">
          <img class="w-full"
            src="https://m.media-amazon.com/images/S/aplus-media/sc/b899e035-829e-4282-bf67-f56044a632d3.__CR0,0,970,600_PT0_SX970_V1___.jpg"
            alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
  <section class="mt-12 mb-2">
    <h2 class="text-2xl font-black text-center mb-2">Outstanding resolution to output extraordinary image</h2>
    <div class="flex gap-6">
      <di class="basic-1/3">
        <img
          src="https://plustek.com/content/en/film-and-photo-scanners/opticfilm-120-pro/myImages/of120pro-workflow.jpg"
          alt="">

        <h3 class="text-xl font-bold">User-friendly Workflow</h3>
        <p>Three types of film holders (35mm film strip, 35mm slides, and 120 film strip) are recognized by the scanner
          automatically.</p>
      </di gap-6v>
      <di class="basic-1/3">
        <img
          src="https://plustek.com/content/en/film-and-photo-scanners/opticfilm-120-pro/myImages/of120pro-workflow.jpg"
          alt="">
        <h3 class="text-xl font-bold">User-friendly Workflow</h3>
        <p>Three types of film holders (35mm film strip, 35mm slides, and 120 film strip) are recognized by the scanner
          automatically.</p>
      </di gap-6v>
      <div class="basic-1/3">
        <img
          src="https://plustek.com/content/en/film-and-photo-scanners/opticfilm-120-pro/myImages/of120pro-workflow.jpg"
          alt="">
        <h3 class="text-xl font-bold">User-friendly Workflow</h3>
        <p>Three types of film holders (35mm film strip, 35mm slides, and 120 film strip) are recognized by the scanner
          automatically.</p>
      </div>

    </div>

  </section>
  <section class="mt-12 mb-2">
    <img src="https://plustek.com/content/en/film-and-photo-scanners/opticfilm-120-pro/myImages/of120pro-it8.jpg"
      alt="">
  </section>

  <section class="mt-12 mb-2">
    <div class="swiper swiper-tabs swiper-thumbs" id="swiper-tabs1">
      <div class="swiper-wrapper">
        <button class="swiper-slide w3-center">高速ADF</button>
        <button class="swiper-slide w3-center">高速ADF</button>
        <button class="swiper-slide w3-center">高速ADF</button>
        <button class="swiper-slide w3-center">高速ADF</button>
        <button class="swiper-slide w3-center">高速ADF</button>
      </div>
    </div>
    <div class="swiper" id="swiper-content1">
      <div class="swiper-wrapper">
        <div class="w100 swiper-slide">
          <img src="https://plustek.com/content/products/workgroup-scanners/smartoffice-s30/images/tw/speedy-adf-large-scanner.jpg"
            width="1600" height="659" alt="掃描速度40 ppm/分 &amp; 100自動進紙容量" title="1次100張進紙容量搭配40ppm/分的高速掃描速度">

        </div>
        <div class="w100 swiper-slide">
          <img src="https://plustek.com/content/products/workgroup-scanners/smartoffice-s30/images/tw/speedy-adf-large-scanner.jpg"
            width="1600" height="659" alt="掃描速度40 ppm/分 &amp; 100自動進紙容量" title="1次100張進紙容量搭配40ppm/分的高速掃描速度">

        </div>
        <div class="w100 swiper-slide">
          <img src="https://plustek.com/content/products/workgroup-scanners/smartoffice-s30/images/tw/speedy-adf-large-scanner.jpg"
            width="1600" height="659" alt="掃描速度40 ppm/分 &amp; 100自動進紙容量" title="1次100張進紙容量搭配40ppm/分的高速掃描速度">

        </div>
        <div class="w100 swiper-slide">
          <img src="https://plustek.com/content/products/workgroup-scanners/smartoffice-s30/images/tw/speedy-adf-large-scanner.jpg"
            width="1600" height="659" alt="掃描速度40 ppm/分 &amp; 100自動進紙容量" title="1次100張進紙容量搭配40ppm/分的高速掃描速度">

        </div>
        <div class="w100 swiper-slide">
          <img src="https://plustek.com/content/products/workgroup-scanners/smartoffice-s30/images/tw/speedy-adf-large-scanner.jpg"
            width="1600" height="659" alt="掃描速度40 ppm/分 &amp; 100自動進紙容量" title="1次100張進紙容量搭配40ppm/分的高速掃描速度">

        </div>
      </div>
      <div class="swiper-button-next swiper-arrow-next"></div>
      <div class="swiper-button-prev swiper-arrow-prev"></div>
    </div>
  </section>


</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    //   // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },


  });

  const swiper1 = new Swiper("#swiper-content1", {
    navigation: {
      nextEl: ".swiper-arrow-next",
      prevEl: ".swiper-arrow-prev"
    },
    thumbs: {
      swiper: {
        el: "#swiper-tabs1",
        spaceBetween: 10,
        slidesPerView: 4,
        watchSlidesVisibility: !0
      },
      slideThumbActiveClass: "thumb-active"
    }
  })
</script>
