{% if section.settings.enable_single_banner %}
  {% for block in section.blocks %}
    {% if block.type == 'banner_image' %}
      <section class="mt-12 mb-0">
        <div class="mx-auto container">
          <img src="{{ block.settings.banner_image | image_url: width: 1600  }}" width="1600" height="" alt="">
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endif %}

{% schema %}
{
  "name": "Single banner template",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_single_banner",
      "label": "Enable Single Banner",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "banner_image",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Single banner"
    }
  ]
}
{% endschema %}
